.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
  width: 70vw;
  height: 30vh;
  margin-bottom: 30px;
  padding-left: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.card-2 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
  width: 70vw;
  height: 30vh;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-3 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
  width: 70vw;
  height: 30vh;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Write your code here. */
.show-more-button {
  background-color: #64748b;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.show-more-button:hover {
  background-color: #435b75;
  transform: scale(1.05);
}
